.u-center-text {
  text-align: center;
}

.u-margin-bott-big {
  margin-bottom: 8rem;
}

.u-margin-bott-small {
  margin-bottom: 1.5rem;
}

.u-margin-bott-med {
  margin-bottom: 4rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}
